@import 'compass'
@import 'compass/reset'
@import 'open-iconic'

$font-size: 16
// Your base font-size in pixels
$em: $font-size / 1em
// Shorthand for outputting ems

$color-grey-dark: #333
$color-grey: #888
$color-grey-light: #CDCDCD
$color-grey-ultra-light: #EDEDED

//Color Scheme, new
$color-pink: #e7b8e1
$color-blue: #b9dcee
$color-yellow: #fbdd8e
$color-red: #d77167
$color-green: #cad68a
$color-green-dark: #b0ad64
$color-beige: #dcd095
$color-brown: #cda575
$color-orange-medium: #d99c77
$color-red-medium: #d48567

$color-orange-light: rgb(240, 205, 192)
$color-orange-dark: rgb(240, 120, 72)

*
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  font:
    family: Helvetica Neue, Helvetica, Arial, sans-serif
    weight: 300

h1, h2, h3, h4, h5, h6
  font:
    weight: 500
  text-align: center

h1
  margin: 20/$em 0
  font-size: 32/$em

h2
  margin: 20/$em 0
  font-size: 32/$em

h3
  margin: 10/$em 0
  font-size: 24/$em

.ng-cloak
  display: none

h1.main-title
  text-align: left
  color: $color-yellow

div.tasks-column
  float: left
  width: 15%

div.main-column
  float: left
  width: 70%
  padding: 0 0 0 1%
  box-sizing: border-box

div.status-column
  float: left
  width: 15%

div.jobs
  box-sizing: border-box
  float: left
  height: 500/$em
  border: 1/$em solid $color-blue

div.task, div.job
  position: relative
  cursor: move
  margin: 10/$em
  padding: 6/$em
  +border-radius(3/$em)
  height: 24/$em
  color: $color-grey-dark
  line-height: 24/$em
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  &.type-dev
    background: $color-orange-medium
  &.type-res
    background: $color-blue
  &.type-mkt
    background: $color-yellow
  &.type-sal
    background: $color-red
  &.type-des
    background: $color-pink
  &.type-fun
    background: $color-green

  &:hover
    color: $color-orange-dark
    background: $color-orange-light

div.job
  left: 0
  &.selected-true-add, &.selected-false-add
    +single-transition(all, 0.16s, linear, 0s !important)
    position: relative
  &.selected-true, &.selected-true-add-active
    position: relative
    left: 20/$em
  &.selected-false, &.selected-false-add-active
    position: relative
    left: 0

  &.ui-draggable-dragging
    -webkit-transition: none !important
    transition: none !important

  .hotkey-button
    float: right

div.task
  span.title
    font-size: 14/$em
    text-transform: capitalize
  span.delete
    display: block
    position: absolute
    height: 100%
    width: 20/$em
    line-height: 36/$em
    top: 0
    right: 0
    cursor: pointer
    text-align: center
    &:hover
      font-weight: bold

div.days
  box-sizing: border-box

div.price-selector
  width: 80%
  margin: 0 10%

input.price-input
  width: 100%
  display: inline-block

div.price
  float: left
  width: 10%
  text-align: right

div.day
  cursor: cell
  &.full-true
    cursor: pointer
  box-sizing: border-box
  position: relative
  border: 1/$em solid $color-blue
  width: 14%
  height: 120/$em
  float: left
  &:hover
    background-color: $color-grey-ultra-light
  &:nth-child(7n+1)
    clear: left

  div.message
    position: absolute
    z-index: 20 //above announcements
    width: 100%
    height: 32/$em
    background: #fff
    border: 1/$em solid $color-orange-light
    opacity: 0.8
    text-align: center
    line-height: 32/$em
    +single-transition(all, 0.34s, linear, 0s !important)
    &.showing-true, &.showing-true-add, &.showing-true-add-active
      opacity: 1
      top: -35/$em
    &.showing-false
      opacity: 0
      top: 0
    &.showing-false-add, &.showing-false-add-active
      opacity: 0 !important
      top: 0 !important
    span.value
      font:
        weight: bold
        size: 24/$em

div.day-progress-meter
  position: absolute
  top: 0
  left: 0
  height: 100%
  background-color: $color-green

h5.day-name
  position: relative
  z-index: 1

div.assets
  box-sizing: border-box
  border: 1/$em solid $color-blue
  height: 500/$em
  float: left

div.announcement
  position: absolute
  z-index: 10 //above calendar elements
  box-sizing: border-box
  top: 0
  left: 30%
  margin-top: 2%
  border: 10/$em solid $color-orange-dark
  padding: 0 40/$em
  width: 40%
  height: 80%
  background-color: #FFF
  text-align: center

  h2.event-title
    padding: 10/$em 0
    background-color: $color-orange-light
    border: 1/$em solid $color-orange-dark

  div.oi
    font-size: 256/$em
    color: $color-orange-dark

  p.description
    font-size: 28/$em

  button.confirm
    cursor: pointer
    margin: 20/$em 0
    width: 30%
    font-size: 16/$em
    border: 1/$em solid $color-orange-dark
    background: $color-orange-light
    span
      font-size: 28/$em
    &:hover
      opacity: 0.85

.hotkey-button
  line-height: 24/$em
  border: 1px solid gray
  padding: 0 5px
  margin: 0 5px
  font-size: 0.8em
  text-transform: uppercase
  -webkit-box-shadow: 1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333
  -moz-box-shadow: 1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333
  box-shadow: 1px 0 1px 0 #fff, 0 2px 0 2px lightGray, 0 2px 0 3px #333
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  background: -moz-linear-gradient(left, #ffffff 0%, #e2e2e2 25%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(25%, #e2e2e2))
  background: -webkit-linear-gradient(left, #ffffff 0%, #e2e2e2 25%)
  background: -o-linear-gradient(left, #ffffff 0%, #e2e2e2 25%)
  background: -ms-linear-gradient(left, #ffffff 0%, #e2e2e2 25%)
  background: linear-gradient(left, #ffffff 0%, #e2e2e2 25%)