<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 ---->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi">
    <title>Lemonade Startup</title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://lemonstartup.com">
    <meta property="og:site_name" content="Lemonade Startup">
    <meta property="og:image" content="http://lemonstartup.com/img/cover-image.png">
    <meta property="og:title" content="Lemonade Startup">
    <meta property="og:description" content="It's time to turn this lemonade stand into a lemonade startup!">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@kylnew">
    <meta name="twitter:url" content="http://lemonstartup.com">
    <meta name="twitter:title" content="Lemonade Startup">
    <meta name="twitter:description" content="It's time to turn this lemonade stand into a lemonade startup!">
    <meta name="twitter:image" content="http://lemonstartup.com/img/cover-image.png">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/hotkeys.min.css">
  </head>
  <body>
    <div id="app">
      <div v-if="currentView == 'intro'" class="intro-view view-container">
        <h1 class="intro-title"><span data-glyph="droplet" class="lemon-drop oi"></span><br>1 Lemonade Stand<br><br>$50 Life Savings<br><br>Time to bootstrap this baby<br>into a Lemonade Startup</h1>
        <button @click="newGame()" class="game-start"><span data-glyph="check" class="title oi">&nbsp;Let's Get Agile</span></button>
      </div>
      <div v-if="currentView == 'end'" class="end-view view-container">
        <div class="ending">
          <h2 class="end-title">{{ending.name}}</h2><span :data-glyph="ending.icon" class="oi ending-icon"></span>
          <p class="ending-description">{{ending.description}}</p>
          <div class="cash">
            <h3 :class="cashValuePositiveClass" class="cash-title"><span class="title">Final Cash</span></h3><strong :class="cashValuePositiveClass" class="cash-value">{{game.stats.cash}}</strong>
            <h3 :class="projectedValuePositiveClass" class="cash-title"><span class="title">Final Valuation</span></h3><strong :class="projectedValuePositiveClass" class="cash-value">{{game.stats.projectedValue}}</strong>
          </div>
          <h3 class="end-title">Game Over</h3>
          <button @click="restart()" class="game-start"><span data-glyph="reload" class="title oi">&nbsp;Restart</span></button>
        </div>
      </div>
      <div v-if="currentView == 'main'" class="main-view view-container">
        <div class="tasks-column">
          <h1 data-glyph="droplet" class="main-title oi"><br><span class="title">Lemonade<br>Startup</span></h1>
          <div class="jobs">
            <h3 data-glyph="briefcase" class="sub-title oi"><br><span class="title">Tasks</span></h3>
            <ls-job v-for="(task, index) in tasks" :key="task.id" :index="index" :task="task"></ls-job>
          </div>
          <div class="forecast">
            <h3 data-glyph="dashboard" class="sub-title oi"><br><span class="title">3-Day Forecast</span></h3>
            <div class="weather-conditions">
              <div v-for="(weather, index) in game.forecast" class="weather-condition"><span :data-glyph="weather.icon" class="title oi">{{weather.description}}</span></div>
            </div>
          </div>
        </div>
        <div class="main-column">
          <div class="credits"><a href="https://twitter.com/share" data-lang="en" class="twitter-share-button">Tweet</a>
            <p class="developed-by">Made by&nbsp;<a target="_blank" href="http://twitter.com/kylnew" class="credit">Kyle</a>&nbsp;&amp;&nbsp;<a target="_blank" href="http://twitter.com/rlrichard" class="credit">Rob</a>&nbsp;at&nbsp;<a target="_blank" href="http://tojam.ca" class="credit">Toronto Game Jam #9</a>.&nbsp;<a target="_blank" href="http://github.com/bitwit/lemonade-startup" class="credit">Available on Github</a></p>
          </div>
          <div class="price-selector">
            <h3 class="price-title"><span class="title">Price: {{prices[price]}}</span></h3><strong class="price-mark low">$0</strong>
            <input type="range" :value="price" @change="priceChanged" min="0" max="9" class="price-input"><strong class="price-mark high">$10</strong>
          </div>
          <div class="days">
            <h2 class="sprint-title"><span class="title">Sprint &#35;{{sprint}} of {{maxSprints}}</span><span v-if="countdownProgress &gt; 0" class="countdown">&nbsp;starts in {{countdownProgress/1000}}s</span></h2>
            <div class="calendar">
              <ls-day v-for="(day, index) in sprintDays" :key="day.id" :index="index" :day="day" :progress="progress" :current-day="currentDay" class="day"></ls-day>
            </div>
            <div class="instructions">
              <h3>Instructions</h3>
              <ul class="instructions">
                <li class="instruction">Select different tasks by clicking or hotkeys (1-6) </li>
                <li class="instruction">Add tasks to the calendar by clicking days</li>
                <li class="instruction">Adjust the price dial as you please</li>
                <li class="instruction">Pay attention for timely optional events</li>
                <li class="instruction">Watch the weather forecast for hints at daily demand</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="status-column">
          <div class="cash">
            <h3 :class="cashValuePositiveClass" data-glyph="dollar" class="cash-title oi"><br><span class="title">Cash</span></h3><strong :class="cashValuePositiveClass" class="cash-value">{{game.stats.cash | number(0)}}</strong>
            <h3 data-glyph="question-mark" :class="projectedValuePositiveClass" class="cash-title oi"><br><span class="title">Valuation</span></h3><strong :class="projectedValuePositiveClass" class="cash-value">{{game.stats.projectedValue | number(0)}}</strong>
          </div>
          <div class="assets">
            <h2 data-glyph="spreadsheet" class="section-title oi"><br><span class="title">Assets</span></h2>
            <div class="assets-container">
              <ls-asset v-for="(asset, index) in game.assets" :key="asset.name" :asset="asset"></ls-asset>
            </div><!--h3 Options
            <div :style="text-align: center;" class="debug-buttons">
              <label>Tick Speed</label>
              <input type="text" v-model="tickSpeed">
              <label>Countdown Progress</label>
              <input type="text" v-model="countdownProgress">
              <button @click="startSimulation()" class="hotkey"><span>Start Simulation</span></button>
              <button @click="autoPopulateDays()" class="hotkey"><span>Auto Populate</span></button>
            </div>
            <h3>Debug</h3>
            <dl>
              <dt>Development</dt>
              <dd>{{game.stats.development}}</dd>
              <dt>Design</dt>
              <dd>{{game.stats.design}}</dd>
              <dt>Marketing</dt>
              <dd>{{game.stats.marketing}}</dd>
              <dt>Research</dt>
              <dd>{{game.stats.research}}</dd>
              <dt>Sales</dt>
              <dd>{{game.stats.sales}}</dd>
              <dt>Fundraising</dt>
              <dd>{{game.stats.fundraising}}</dd>
              <dt>Productivity</dt>
              <dd>{{game.stats.productivity}}</dd>
            </dl>-->
          </div>
        </div>
        <div v-if="announcements.length &gt; 0" class="announcements">
          <ls-announcement v-for="event in announcements" :key="event.name" :event="event" @accept-event="acceptEvent()" @reject-event="rejectEvent()"></ls-announcement>
        </div>
      </div>
    </div>
  </body>
  <script src=".build/webpacked.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</html>